part3/flows/NR-SetLED-Threshold.json
[
    {
        "id": "27aa2877.e08a5",
        "type": "tab",
        "label": "ESP8266 Set LED",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f6355b73.7c595",
        "type": "change",
        "z": "27aa2877.e08a5",
        "name": "Set LED Blue",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"r\":0,\"g\":0,\"b\":255}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 60,
        "wires": [
            [
                "a2abedb0.0c5408"
            ]
        ]
    },
    {
        "id": "f8f8ce92.7aa5e",
        "type": "switch",
        "z": "27aa2877.e08a5",
        "name": "",
        "property": "payload.d.temp",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "btwn",
                "v": "0",
                "vt": "num",
                "v2": "10",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "10",
                "vt": "num",
                "v2": "25",
                "v2t": "num"
            },
            {
                "t": "btwn",
                "v": "25",
                "vt": "num",
                "v2": "30",
                "v2t": "num"
            },
            {
                "t": "gte",
                "v": "30",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 5,
        "x": 410,
        "y": 140,
        "wires": [
            [
                "f6355b73.7c595"
            ],
            [
                "fa9c2154.d9c0d8"
            ],
            [
                "aacd5412.ae47a"
            ],
            [
                "c55ea44f.8ca5e8"
            ],
            [
                "97882982.e7a308"
            ]
        ]
    },
    {
        "id": "fa9c2154.d9c0d8",
        "type": "change",
        "z": "27aa2877.e08a5",
        "name": "Set LED Turquoise",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"r\":0,\"g\":150,\"b\":150}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 100,
        "wires": [
            [
                "a2abedb0.0c5408"
            ]
        ]
    },
    {
        "id": "aacd5412.ae47a",
        "type": "change",
        "z": "27aa2877.e08a5",
        "name": "Set LED Green",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"r\" : 0, \"g\" : 255, \"b\" : 0 }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 140,
        "wires": [
            [
                "a2abedb0.0c5408"
            ]
        ]
    },
    {
        "id": "c55ea44f.8ca5e8",
        "type": "change",
        "z": "27aa2877.e08a5",
        "name": "Set LED Yellow",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"r\" : 150, \"g\" : 150, \"b\" : 0 }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 180,
        "wires": [
            [
                "a2abedb0.0c5408"
            ]
        ]
    },
    {
        "id": "97882982.e7a308",
        "type": "change",
        "z": "27aa2877.e08a5",
        "name": "Set LED RED",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{ \"r\" : 255, \"g\" : 0, \"b\" : 0 }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 220,
        "wires": [
            [
                "a2abedb0.0c5408"
            ]
        ]
    },
    {
        "id": "2d0028fd.b5b618",
        "type": "debug",
        "z": "27aa2877.e08a5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1050,
        "y": 120,
        "wires": []
    },
    {
        "id": "ff6a7c1b.3c8ea",
        "type": "debug",
        "z": "27aa2877.e08a5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 410,
        "y": 200,
        "wires": []
    },
    {
        "id": "18c7b740.2927f1",
        "type": "mqtt in",
        "z": "27aa2877.e08a5",
        "name": "",
        "topic": "iot-2/type/+/id/+/evt/+/fmt/json",
        "qos": "2",
        "datatype": "json",
        "broker": "",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "f8f8ce92.7aa5e",
                "ff6a7c1b.3c8ea"
            ]
        ]
    },
    {
        "id": "1b32dddf.4c5aea",
        "type": "mqtt out",
        "z": "27aa2877.e08a5",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "broker": "",
        "x": 1050,
        "y": 160,
        "wires": []
    },
    {
        "id": "a2abedb0.0c5408",
        "type": "change",
        "z": "27aa2877.e08a5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "(\t$topicParts :=$split(topic, '/');\t\"iot-2/type/\"&$topicParts[2]&\"/id/\"&$topicParts[4]&\"/cmd/display/fmt/json\"\t)\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 140,
        "wires": [
            [
                "2d0028fd.b5b618",
                "1b32dddf.4c5aea"
            ]
        ]
    }
]