part3/flows/NRD-DHTSensorData-HistorianChart.json
[
    {
        "id": "572a4fbb.49dd48",
        "type": "tab",
        "label": "Historical Chart",
        "disabled": false,
        "info": ""
    },
    {
        "id": "958dd94a.779118",
        "type": "debug",
        "z": "572a4fbb.49dd48",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 910,
        "y": 100,
        "wires": []
    },
    {
        "id": "fe0204d0.c3dad8",
        "type": "ui_chart",
        "z": "572a4fbb.49dd48",
        "name": "",
        "group": "5571671c.8ea9b",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "ESP8266 DHT Historian Chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "10",
        "removeOlderPoints": "5000",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "x": 970,
        "y": 60,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "c31f0811.b2031",
        "type": "function",
        "z": "572a4fbb.49dd48",
        "name": "Create a Chart Array for Chart.js",
        "func": "// This function reformats the timeseries data into an array that \n// Chart.js (See http://www.chartjs.org/ ) will plot\n// The node-red-dashboard Chart node uses Chart.js \n\n// The Array has this structure, inserting the first element as a template.\nvar ChartData = [ {\"series\":[\"Data\"],\n                   \"data\":[[{\"x\":msg.payload[0].time,\"y\":msg.payload[0].temp}]],\n                   \"labels\":[\"Data\"]}];\n\n// Start at 1 because we've already added element 0 in the initial array definition\nfor( var i=1; i < msg.payload.length; i++ ) {\n    ChartData[0].data[0].push( { \"x\":msg.payload[i].time,\"y\":msg.payload[i].temp } );\n}\n// Now we need to sort on the time so that we give the Chart node an array in time order\nChartData[0].data[0].sort(function sortNumber(a,b) { return a.x - b.x; });\n\nmsg.payload = ChartData;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 640,
        "y": 60,
        "wires": [
            [
                "fe0204d0.c3dad8",
                "958dd94a.779118"
            ]
        ]
    },
    {
        "id": "6e2193b1.51757c",
        "type": "cloudant in",
        "z": "572a4fbb.49dd48",
        "name": "",
        "cloudant": "",
        "database": "historicaldata1",
        "service": "",
        "search": "_all_",
        "design": "",
        "index": "",
        "x": 370,
        "y": 60,
        "wires": [
            [
                "a291ea3c.dcfa08",
                "c31f0811.b2031"
            ]
        ]
    },
    {
        "id": "a291ea3c.dcfa08",
        "type": "debug",
        "z": "572a4fbb.49dd48",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "9e5cf2f1.9769b",
        "type": "ui_button",
        "z": "572a4fbb.49dd48",
        "name": "",
        "group": "11d8514.a44dcaf",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Load ESP8266 DHT Data",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "6e2193b1.51757c"
            ]
        ]
    },
    {
        "id": "5571671c.8ea9b",
        "type": "ui_group",
        "z": "",
        "name": "Historical Data",
        "tab": "1f3fcf14.3e0841",
        "order": 1,
        "disp": true,
        "width": "18"
    },
    {
        "id": "11d8514.a44dcaf",
        "type": "ui_group",
        "z": "",
        "name": "Chart Controls",
        "tab": "1f3fcf14.3e0841",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "1f3fcf14.3e0841",
        "type": "ui_tab",
        "z": "",
        "name": "Historical Data",
        "icon": "fa-area-chart",
        "order": 5
    }
]
