part3/flows/NRD-Charts-DHTSensorData.json
[
    {
        "id": "12c413b5.585494",
        "type": "tab",
        "label": "Chart Intro",
        "disabled": false,
        "info": ""
    },
    {
        "id": "47a8c4a5.ba4714",
        "type": "tab",
        "label": "Dashboard Intro",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4ce6f98c.254bf",
        "type": "tab",
        "label": "Plot DHT Sensor Data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "72692f8c.1a55a",
        "type": "ui_base",
        "z": "",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "1454ffb1.6e2f",
        "type": "ui_group",
        "z": "47a8c4a5.ba4714",
        "name": "Dashboard Controls",
        "tab": "f65c9267.a2ce5",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "ed1d5d5f.dc5c58",
        "type": "ui_group",
        "z": "",
        "name": "Start / Stop",
        "tab": "f65c9267.a2ce5",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "f65c9267.a2ce5",
        "type": "ui_tab",
        "z": "47a8c4a5.ba4714",
        "name": "Introduction",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "1bb2d88d.8be177",
        "type": "ui_group",
        "z": "",
        "name": "ESP8266 Sensors",
        "tab": "88fe602a.e1955",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "88fe602a.e1955",
        "type": "ui_tab",
        "z": "",
        "name": "ESP8266 Workshop",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "2a4e69f.1b1f996",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "89bfd092.f8bc18",
        "type": "ui_group",
        "z": "",
        "name": "Line Chart Examples",
        "tab": "642c5bf0.321384",
        "disp": true,
        "width": "8"
    },
    {
        "id": "d6d5b6c0.39742",
        "type": "ui_group",
        "z": "",
        "name": "Bar Chart Examples",
        "tab": "642c5bf0.321384",
        "order": 3,
        "disp": true,
        "width": "8"
    },
    {
        "id": "5c2f5188.6d47f8",
        "type": "ui_group",
        "z": "",
        "name": "Pie Chart Examples",
        "tab": "642c5bf0.321384",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "642c5bf0.321384",
        "type": "ui_tab",
        "z": "",
        "name": "Chart Examples",
        "icon": "fa-area-chart",
        "order": 1
    },
    {
        "id": "2aeb3b7c.7a1e5c",
        "type": "inject",
        "z": "47a8c4a5.ba4714",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "cc96c240.90a93"
            ]
        ]
    },
    {
        "id": "1910e637.2cfbea",
        "type": "function",
        "z": "47a8c4a5.ba4714",
        "name": "Random #s",
        "func": "if( msg.payload === false ) {\n    return null;\n}\nmsg.payload = Math.round(Math.random()*100);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 60,
        "wires": [
            [
                "bc218cf4.508e2"
            ]
        ]
    },
    {
        "id": "bc10b2e7.c144f8",
        "type": "ui_chart",
        "z": "47a8c4a5.ba4714",
        "name": "Chart",
        "group": "1454ffb1.6e2f",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Random #",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Querying Entropy",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 2,
        "x": 350,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "557c8db7.8c2cd4",
        "type": "ui_gauge",
        "z": "47a8c4a5.ba4714",
        "name": "Gauge",
        "group": "1454ffb1.6e2f",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 350,
        "y": 280,
        "wires": []
    },
    {
        "id": "7f62527e.e7067c",
        "type": "ui_slider",
        "z": "47a8c4a5.ba4714",
        "name": "",
        "label": "Slider",
        "group": "1454ffb1.6e2f",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "min": 0,
        "max": "100",
        "step": "",
        "x": 350,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "45ef900.f6932f",
        "type": "ui_text",
        "z": "47a8c4a5.ba4714",
        "group": "1454ffb1.6e2f",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 350,
        "y": 360,
        "wires": []
    },
    {
        "id": "cc96c240.90a93",
        "type": "ui_switch",
        "z": "47a8c4a5.ba4714",
        "name": "",
        "label": "Switch",
        "group": "ed1d5d5f.dc5c58",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 270,
        "y": 140,
        "wires": [
            [
                "1910e637.2cfbea"
            ]
        ]
    },
    {
        "id": "ba7045e9.bad2",
        "type": "ui_text",
        "z": "47a8c4a5.ba4714",
        "group": "ed1d5d5f.dc5c58",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 270,
        "y": 60,
        "wires": []
    },
    {
        "id": "8f48941c.73a7f",
        "type": "inject",
        "z": "47a8c4a5.ba4714",
        "name": "Instructions",
        "topic": "",
        "payload": "Use the toggle switch to start / stop the generation of random numbers",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "ba7045e9.bad2"
            ]
        ]
    },
    {
        "id": "e24396b6.4fe748",
        "type": "ui_toast",
        "z": "47a8c4a5.ba4714",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "821084fb.210548",
        "type": "switch",
        "z": "47a8c4a5.ba4714",
        "name": "Warn on High Values",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "90",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 400,
        "y": 400,
        "wires": [
            [
                "9de2c880.141548"
            ]
        ]
    },
    {
        "id": "9de2c880.141548",
        "type": "template",
        "z": "47a8c4a5.ba4714",
        "name": "Alert Msg",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Alert : Critical Value Detected {{payload}}",
        "output": "str",
        "x": 600,
        "y": 400,
        "wires": [
            [
                "e24396b6.4fe748"
            ]
        ]
    },
    {
        "id": "bc218cf4.508e2",
        "type": "link out",
        "z": "47a8c4a5.ba4714",
        "name": "",
        "links": [
            "5ecb2b4b.05bf4c"
        ],
        "x": 555,
        "y": 140,
        "wires": []
    },
    {
        "id": "5ecb2b4b.05bf4c",
        "type": "link in",
        "z": "47a8c4a5.ba4714",
        "name": "",
        "links": [
            "bc218cf4.508e2"
        ],
        "x": 95,
        "y": 360,
        "wires": [
            [
                "bc10b2e7.c144f8",
                "557c8db7.8c2cd4",
                "7f62527e.e7067c",
                "45ef900.f6932f",
                "821084fb.210548"
            ]
        ]
    },
    {
        "id": "1ce19c7d.1392e4",
        "type": "debug",
        "z": "4ce6f98c.254bf",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 410,
        "y": 80,
        "wires": []
    },
    {
        "id": "49ce87c1.4ec838",
        "type": "change",
        "z": "4ce6f98c.254bf",
        "name": "Chart Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 120,
        "wires": [
            [
                "1d4ec5b5.82c9f2"
            ]
        ]
    },
    {
        "id": "2f57084.22acd78",
        "type": "change",
        "z": "4ce6f98c.254bf",
        "name": "Chart Humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 160,
        "wires": [
            [
                "fda5229a.103b8"
            ]
        ]
    },
    {
        "id": "d7a2c22e.f27d1",
        "type": "switch",
        "z": "4ce6f98c.254bf",
        "name": "Warn on High Values",
        "property": "payload.d.temp",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "30",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 440,
        "y": 200,
        "wires": [
            [
                "732cea1.a542294"
            ]
        ]
    },
    {
        "id": "732cea1.a542294",
        "type": "template",
        "z": "4ce6f98c.254bf",
        "name": "Alert Msg",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Alert : Critical Value Detected {{payload.d.temp}}",
        "output": "str",
        "x": 640,
        "y": 200,
        "wires": [
            [
                "80bbdd78.c69ae8"
            ]
        ]
    },
    {
        "id": "1d4ec5b5.82c9f2",
        "type": "ui_chart",
        "z": "4ce6f98c.254bf",
        "name": "",
        "group": "1bb2d88d.8be177",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "DHT Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 630,
        "y": 120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "fda5229a.103b8",
        "type": "ui_chart",
        "z": "4ce6f98c.254bf",
        "name": "",
        "group": "1bb2d88d.8be177",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "DHT Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 640,
        "y": 160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "80bbdd78.c69ae8",
        "type": "ui_toast",
        "z": "4ce6f98c.254bf",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 830,
        "y": 200,
        "wires": []
    },
    {
        "id": "38fac2c5.ead426",
        "type": "ui_chart",
        "z": "12c413b5.585494",
        "name": "",
        "group": "89bfd092.f8bc18",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Single Line Plot",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 600,
        "y": 120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8b1422bb.731af",
        "type": "function",
        "z": "12c413b5.585494",
        "name": "Fill Single Chart Array",
        "func": "var chart = [{\n    \"series\":[\"A\"],\n    \"data\":[[{\"x\":1504029632890,\"y\":5},\n             {\"x\":1504029633514,\"y\":8},\n             {\"x\":1504029634400,\"y\":3}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 120,
        "wires": [
            [
                "38fac2c5.ead426",
                "f7e82408.b55a9"
            ]
        ]
    },
    {
        "id": "f7e82408.b55a9",
        "type": "debug",
        "z": "12c413b5.585494",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "ce4074ce.08a8d",
        "type": "comment",
        "z": "12c413b5.585494",
        "name": "Sample Dashboard that plots various Chart types",
        "info": "",
        "x": 250,
        "y": 60,
        "wires": []
    },
    {
        "id": "40f701a5.4c0628",
        "type": "ui_chart",
        "z": "12c413b5.585494",
        "name": "",
        "group": "89bfd092.f8bc18",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Multiple Line Plots",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 610,
        "y": 220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "5ac8ae9e.8497b8",
        "type": "function",
        "z": "12c413b5.585494",
        "name": "Fill Multiple Line Chart Array",
        "func": "var chart = [  {\"series\":[\"A\",\"B\",\"C\"],\n                \"data\":[\n                    [{\"x\":1504029632890,\"y\":5},\n                     {\"x\":1504029636001,\"y\":4},\n                     {\"x\":1504029638656,\"y\":2}],\n                    [{\"x\":1504029633514,\"y\":6},\n                     {\"x\":1504029636622,\"y\":7},\n                     {\"x\":1504029639539,\"y\":6}],\n                    [{\"x\":1504029634400,\"y\":7},\n                     {\"x\":1504029637959,\"y\":9},\n                     {\"x\":1504029640317,\"y\":7}]\n                ],\n                \"labels\":[\"\"]}];\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 220,
        "wires": [
            [
                "40f701a5.4c0628",
                "2b3c03cd.9670ac"
            ]
        ]
    },
    {
        "id": "2b3c03cd.9670ac",
        "type": "debug",
        "z": "12c413b5.585494",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 590,
        "y": 260,
        "wires": []
    },
    {
        "id": "b54397da.7d3c2",
        "type": "ui_chart",
        "z": "12c413b5.585494",
        "name": "",
        "group": "d6d5b6c0.39742",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Vertical Bar Chart",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 610,
        "y": 540,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "80a37865.9a196",
        "type": "inject",
        "z": "12c413b5.585494",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "8b1422bb.731af"
            ]
        ]
    },
    {
        "id": "e1c92e88.851f",
        "type": "inject",
        "z": "12c413b5.585494",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130,
        "y": 220,
        "wires": [
            [
                "5ac8ae9e.8497b8"
            ]
        ]
    },
    {
        "id": "2cc30253.462f36",
        "type": "inject",
        "z": "12c413b5.585494",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130,
        "y": 540,
        "wires": [
            [
                "8eb046bd.518a18"
            ]
        ]
    },
    {
        "id": "8eb046bd.518a18",
        "type": "function",
        "z": "12c413b5.585494",
        "name": "Fill Bar Chart Array",
        "func": "var bar={};\nbar.labels = [\"Q1 16\",\"Q2 16\",\"Q3 16\",\"Q4 16\",\"Q1 17\",\"Q2 17\",\"Q3 17\"];\nbar.series = ['Sales A', 'Sales B', 'Sales C', 'Sales D'];\n// An array of 4 arrays of 7 elements\nbar.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20],\n    [58, 18, 40, 29, 15, 30, 60]\n  ];\nreturn {payload:[bar]};",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 540,
        "wires": [
            [
                "b54397da.7d3c2",
                "b0740d24.5c6a48",
                "36e16af3.974c66"
            ]
        ]
    },
    {
        "id": "b0740d24.5c6a48",
        "type": "debug",
        "z": "12c413b5.585494",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 590,
        "y": 620,
        "wires": []
    },
    {
        "id": "36e16af3.974c66",
        "type": "ui_chart",
        "z": "12c413b5.585494",
        "name": "",
        "group": "d6d5b6c0.39742",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Horizontal Bar Chart",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 619.0908813476562,
        "y": 580,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "de99a184.f909b",
        "type": "ui_chart",
        "z": "12c413b5.585494",
        "name": "",
        "group": "5c2f5188.6d47f8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Pie Chart",
        "chartType": "pie",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 580,
        "y": 320,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "6734c083.6a93c",
        "type": "function",
        "z": "12c413b5.585494",
        "name": "Fill Pie Chart Array",
        "func": "var pie={};\npie.labels = [\"Geo1\",\"Geo2\",\"Geo3\",\"Geo4\",\"Geo5\"];\npie.series = ['Sales A', 'Sales B', 'Sales C', 'Sales D'];\npie.data =   [ [16, 27, 42, 65, 89] ];\n//return {payload:[pie]};\n\nvar pie={ \"labels\" : [\"Geo1\",\"Geo2\",\"Geo3\",\"Geo4\",\"Geo5\"],\n          \"series\" : ['Sales A', 'Sales B', 'Sales C', 'Sales D'],\n          \"data\"   : [ [16, 27, 42, 65, 89] ]\n        };\nmsg.payload = [pie];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 320,
        "wires": [
            [
                "de99a184.f909b",
                "61bb503e.6ca1",
                "37648ff7.3d875",
                "74e87c77.7a50dc",
                "ba58094c.aab88"
            ]
        ]
    },
    {
        "id": "c6277148.aa5538",
        "type": "inject",
        "z": "12c413b5.585494",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130,
        "y": 320,
        "wires": [
            [
                "6734c083.6a93c"
            ]
        ]
    },
    {
        "id": "61bb503e.6ca1",
        "type": "debug",
        "z": "12c413b5.585494",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 590,
        "y": 480,
        "wires": []
    },
    {
        "id": "37648ff7.3d875",
        "type": "ui_chart",
        "z": "12c413b5.585494",
        "name": "",
        "group": "5c2f5188.6d47f8",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Polar Area Chart",
        "chartType": "polar-area",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 610,
        "y": 400.9090881347656,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ba58094c.aab88",
        "type": "ui_chart",
        "z": "12c413b5.585494",
        "name": "",
        "group": "5c2f5188.6d47f8",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Radar Chart",
        "chartType": "radar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 590,
        "y": 440,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "74e87c77.7a50dc",
        "type": "ui_chart",
        "z": "12c413b5.585494",
        "name": "",
        "group": "5c2f5188.6d47f8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Donut Chart",
        "chartType": "pie",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "40",
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 590,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "46f3a55.224d15c",
        "type": "mqtt in",
        "z": "4ce6f98c.254bf",
        "name": "",
        "topic": "iot-2/type/+/id/+/evt/+/fmt/json",
        "qos": "2",
        "datatype": "json",
        "broker": "",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "1ce19c7d.1392e4",
                "49ce87c1.4ec838",
                "2f57084.22acd78",
                "d7a2c22e.f27d1"
            ]
        ]
    }
]◊