en/part4/flows/NR-training.json
[
  {
    "id": "9f49bcc8.a445d8",
    "type": "change",
    "z": "f6f6f23f.99b32",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "msg.payload.{\"time\" : $millis(), \"temp\" : d.temp, \"humidity\" : d.humidity} ",
        "tot": "jsonata"
      },
      {
        "t": "set",
        "p": "payload.class",
        "pt": "msg",
        "to": "0",
        "tot": "num"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 600,
    "y": 220,
    "wires": [
      [
        "c98aaa19.2120d8"
      ]
    ]
  },
  {
    "id": "c98aaa19.2120d8",
    "type": "debug",
    "z": "f6f6f23f.99b32",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 770,
    "y": 260,
    "wires": []
  },
  {
    "id": "fe58d22a.0b8038",
    "type": "cloudant out",
    "z": "f6f6f23f.99b32",
    "name": "",
    "cloudant": "",
    "database": "training",
    "service": "",
    "payonly": true,
    "operation": "insert",
    "x": 780,
    "y": 220,
    "wires": []
  },
  {
    "id": "ae496ef0.e5c6f",
    "type": "mqtt in",
    "z": "f6f6f23f.99b32",
    "name": "",
    "topic": "iot-2/type/+/id/+/evt/+/fmt/json",
    "qos": "2",
    "datatype": "json",
    "broker": "285b33eb.753ec4",
    "x": 350,
    "y": 220,
    "wires": [
      [
        "9f49bcc8.a445d8"
      ]
    ]
  },
  {
    "id": "285b33eb.753ec4",
    "type": "mqtt-broker",
    "z": "",
    "name": "",
    "broker": "",
    "port": "8883",
    "tls": "",
    "clientid": "",
    "usetls": true,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": ""
  }
]
