en/part3/flows/NR-Cloudant-DHTSensorData.json
[
    {
        "id": "3f89b781.8355",
        "type": "tab",
        "label": "Store Sensor Data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3d1dc1d.df604be",
        "type": "function",
        "z": "3f89b781.8355",
        "name": "Format Time Series DB record",
        "func": "msg.payload = {\n        time:     new Date().getTime(),\n        temp:     msg.payload.d.temp,\n        humidity: msg.payload.d.humidity\n    } ;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 100,
        "wires": [
            [
                "b1eade5a.c9c698",
                "55dc5505.6f4a44"
            ]
        ]
    },
    {
        "id": "b1eade5a.c9c698",
        "type": "debug",
        "z": "3f89b781.8355",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 670,
        "y": 80,
        "wires": []
    },
    {
        "id": "55dc5505.6f4a44",
        "type": "cloudant out",
        "z": "3f89b781.8355",
        "name": "",
        "cloudant": "",
        "database": "historicaldata1",
        "service": "bi-esp8266Bootcamp-cloudantNoSQLDB",
        "payonly": true,
        "operation": "insert",
        "x": 700,
        "y": 120,
        "wires": []
    },
    {
        "id": "b2b42be8.66018",
        "type": "mqtt in",
        "z": "3f89b781.8355",
        "name": "",
        "topic": "iot-2/type/+/id/+/evt/+/fmt/json",
        "qos": "2",
        "datatype": "json",
        "broker": "285b33eb.753ec4",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "3d1dc1d.df604be"
            ]
        ]
    },
    {
        "id": "285b33eb.753ec4",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "rvrsig.messaging.internetofthings.ibmcloud.com",
        "port": "8883",
        "tls": "48d2bad.fe42944",
        "clientid": "a:rvrsig:bootcamp",
        "usetls": true,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "48d2bad.fe42944",
        "type": "tls-config",
        "z": "",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "rootCA_certificate.pem",
        "servername": "rvrsig.messaging.internetofthings.ibmcloud.com",
        "verifyservercert": true
    }
]