en/part3/flows/NR-SetLED-Threshold.json
[{
    "id": "50c8034d.9da71c",
    "type": "tab",
    "label": "ESP8266 Set LED",
    "disabled": false,
    "info": ""
}, {
    "id": "a0a3aa36.57622",
    "type": "ibmiot in",
    "z": "50c8034d.9da71c",
    "authentication": "boundService",
    "apiKey": "",
    "inputType": "evt",
    "logicalInterface": "",
    "ruleId": "",
    "deviceId": "",
    "applicationId": "",
    "deviceType": "+",
    "eventType": "+",
    "commandType": "",
    "format": "json",
    "name": "IBM IoT",
    "service": "registered",
    "allDevices": true,
    "allApplications": "",
    "allDeviceTypes": true,
    "allLogicalInterfaces": "",
    "allEvents": true,
    "allCommands": "",
    "allFormats": "",
    "qos": 0,
    "x": 80,
    "y": 140,
    "wires": [
        ["22685cc8.08666c", "a0853dba.5563c"]
    ]
}, {
    "id": "b09137b1.60558",
    "type": "change",
    "z": "50c8034d.9da71c",
    "name": "Set LED Blue",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"r\":0,\"g\":0,\"b\":255}",
        "tot": "json"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 410,
    "y": 70,
    "wires": [
        ["1df82df1.b1efea", "911ee3a.9d8b82"]
    ]
}, {
    "id": "1df82df1.b1efea",
    "type": "ibmiot out",
    "z": "50c8034d.9da71c",
    "authentication": "boundService",
    "apiKey": "",
    "outputType": "cmd",
    "deviceId": "na",
    "deviceType": "na",
    "eventCommandType": "display",
    "format": "json",
    "data": "{}",
    "qos": 0,
    "name": "IBM IoT",
    "service": "registered",
    "x": 680,
    "y": 140,
    "wires": []
}, {
    "id": "22685cc8.08666c",
    "type": "switch",
    "z": "50c8034d.9da71c",
    "name": "",
    "property": "payload.d.temp",
    "propertyType": "msg",
    "rules": [{
        "t": "lte",
        "v": "0",
        "vt": "num"
    }, {
        "t": "btwn",
        "v": "0",
        "vt": "num",
        "v2": "10",
        "v2t": "num"
    }, {
        "t": "btwn",
        "v": "10",
        "vt": "num",
        "v2": "25",
        "v2t": "num"
    }, {
        "t": "btwn",
        "v": "25",
        "vt": "num",
        "v2": "30",
        "v2t": "num"
    }, {
        "t": "gte",
        "v": "30",
        "vt": "str"
    }],
    "checkall": "false",
    "repair": false,
    "outputs": 5,
    "x": 220,
    "y": 140,
    "wires": [
        ["b09137b1.60558"],
        ["d1b9abc.488c2d8"],
        ["8e9796f4.de1fc"],
        ["3e4c9383.95e6dc"],
        ["69eef798.613d68"]
    ]
}, {
    "id": "d1b9abc.488c2d8",
    "type": "change",
    "z": "50c8034d.9da71c",
    "name": "Set LED Turquoise",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{\"r\":0,\"g\":150,\"b\":150}",
        "tot": "json"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 420,
    "y": 105,
    "wires": [
        ["1df82df1.b1efea", "911ee3a.9d8b82"]
    ]
}, {
    "id": "8e9796f4.de1fc",
    "type": "change",
    "z": "50c8034d.9da71c",
    "name": "Set LED Green",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{ \"r\" : 0, \"g\" : 255, \"b\" : 0 }",
        "tot": "json"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 410,
    "y": 140,
    "wires": [
        ["1df82df1.b1efea", "911ee3a.9d8b82"]
    ]
}, {
    "id": "3e4c9383.95e6dc",
    "type": "change",
    "z": "50c8034d.9da71c",
    "name": "Set LED Yellow",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{ \"r\" : 150, \"g\" : 150, \"b\" : 0 }",
        "tot": "json"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 410,
    "y": 175,
    "wires": [
        ["1df82df1.b1efea", "911ee3a.9d8b82"]
    ]
}, {
    "id": "69eef798.613d68",
    "type": "change",
    "z": "50c8034d.9da71c",
    "name": "Set LED RED",
    "rules": [{
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "{ \"r\" : 255, \"g\" : 0, \"b\" : 0 }",
        "tot": "json"
    }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 410,
    "y": 210,
    "wires": [
        ["1df82df1.b1efea", "911ee3a.9d8b82"]
    ]
}, {
    "id": "911ee3a.9d8b82",
    "type": "debug",
    "z": "50c8034d.9da71c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 680,
    "y": 70,
    "wires": []
}, {
    "id": "a0853dba.5563c",
    "type": "debug",
    "z": "50c8034d.9da71c",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "x": 250,
    "y": 250,
    "wires": []
}]