en/part3/flows/NRD-ReportingInterval-Form.json
[
    {
        "id": "e5a09c23.5c058",
        "type": "tab",
        "label": "Set ESP8266 Interval",
        "disabled": false,
        "info": ""
    },
    {
        "id": "dad5abe9.11687",
        "type": "ui_form",
        "z": "e5a09c23.5c058",
        "name": "Dashboard Form",
        "label": "",
        "group": "e389f013.59067",
        "order": 0,
        "width": "10",
        "height": "6",
        "options": [
            {
                "label": "Reporting Interval (seconds)",
                "value": "Seconds",
                "type": "number",
                "required": true
            }
        ],
        "formValue": {
            "Seconds": ""
        },
        "payload": "",
        "submit": "Submit",
        "cancel": "Cancel",
        "topic": "",
        "x": 110,
        "y": 120,
        "wires": [
            [
                "3e299fcc.05928"
            ]
        ]
    },
    {
        "id": "3e299fcc.05928",
        "type": "switch",
        "z": "e5a09c23.5c058",
        "name": "Secs >= 0",
        "property": "payload.Seconds",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "0",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 280,
        "y": 120,
        "wires": [
            [
                "68d48aee.c0d33c"
            ]
        ]
    },
    {
        "id": "68d48aee.c0d33c",
        "type": "change",
        "z": "e5a09c23.5c058",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"Interval\":msg.payload.Seconds}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 120,
        "wires": [
            [
                "4ff2f972.a81858",
                "8d9d9f1b.1c62b8"
            ]
        ]
    },
    {
        "id": "4ff2f972.a81858",
        "type": "debug",
        "z": "e5a09c23.5c058",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 640,
        "y": 90,
        "wires": []
    },
    {
        "id": "8d9d9f1b.1c62b8",
        "type": "mqtt out",
        "z": "e5a09c23.5c058",
        "name": "",
        "topic": "iot-2/type/ESP8266/id/dev01/cmd/interval/fmt/json",
        "qos": "",
        "retain": "",
        "broker": "285b33eb.753ec4",
        "x": 750,
        "y": 140,
        "wires": []
    },
    {
        "id": "e389f013.59067",
        "type": "ui_group",
        "z": "",
        "name": "Change ESP8266 Reporting Interval",
        "tab": "ba499216.0fd8e",
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "285b33eb.753ec4",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "rvrsig.messaging.internetofthings.ibmcloud.com",
        "port": "8883",
        "tls": "48d2bad.fe42944",
        "clientid": "a:rvrsig:bootcamp",
        "usetls": true,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "ba499216.0fd8e",
        "type": "ui_tab",
        "z": "",
        "name": "ESP8266 Interval",
        "icon": "dashboard",
        "order": 4
    },
    {
        "id": "48d2bad.fe42944",
        "type": "tls-config",
        "z": "",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "rootCA_certificate.pem",
        "servername": "rvrsig.messaging.internetofthings.ibmcloud.com",
        "verifyservercert": true
    }
]