en/part3/flows/NRD-Charts-DHTSensorData.json
[
    {
        "id": "70c1e3a2.13a89c",
        "type": "tab",
        "label": "Chart Intro",
        "disabled": false,
        "info": ""
    },
    {
        "id": "874c1089.25ecb",
        "type": "tab",
        "label": "Dashboard Intro",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1b8a4ed6.b6b209",
        "type": "tab",
        "label": "Plot DHT Sensor Data",
        "disabled": false,
        "info": ""
    },
    {
        "id": "285b33eb.753ec4",
        "type": "mqtt-broker",
        "z": "",
        "name": "",
        "broker": "rvrsig.messaging.internetofthings.ibmcloud.com",
        "port": "8883",
        "tls": "48d2bad.fe42944",
        "clientid": "a:rvrsig:bootcamp",
        "usetls": true,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": ""
    },
    {
        "id": "48d2bad.fe42944",
        "type": "tls-config",
        "z": "",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "rootCA_certificate.pem",
        "servername": "rvrsig.messaging.internetofthings.ibmcloud.com",
        "verifyservercert": true
    },
    {
        "id": "eb77816e.e58658",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e5daedab.ebc278",
        "type": "ui_group",
        "z": "874c1089.25ecb",
        "name": "Dashboard Controls",
        "tab": "6c0f9ea8.bc1d",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "7c35b7e4.64a6d8",
        "type": "ui_group",
        "z": "",
        "name": "Start / Stop",
        "tab": "6c0f9ea8.bc1d",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "6c0f9ea8.bc1d",
        "type": "ui_tab",
        "z": "874c1089.25ecb",
        "name": "Introduction",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "fad07bb4.8b914",
        "type": "ui_group",
        "z": "",
        "name": "ESP8266 Sensors",
        "tab": "57db0461.91a864",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "57db0461.91a864",
        "type": "ui_tab",
        "z": "",
        "name": "ESP8266 Workshop",
        "icon": "dashboard",
        "order": 3
    },
    {
        "id": "880e71e.37c581",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b4900017.3c0458",
        "type": "ui_group",
        "z": "",
        "name": "Line Chart Examples",
        "tab": "95ed2630.ec825",
        "disp": true,
        "width": "8"
    },
    {
        "id": "997b37a6.c8e72",
        "type": "ui_group",
        "z": "",
        "name": "Bar Chart Examples",
        "tab": "95ed2630.ec825",
        "order": 3,
        "disp": true,
        "width": "8"
    },
    {
        "id": "8ed24b32.a6fdd8",
        "type": "ui_group",
        "z": "",
        "name": "Pie Chart Examples",
        "tab": "95ed2630.ec825",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "95ed2630.ec825",
        "type": "ui_tab",
        "z": "",
        "name": "Chart Examples",
        "icon": "fa-area-chart",
        "order": 1
    },
    {
        "id": "beee549d.b307e8",
        "type": "inject",
        "z": "874c1089.25ecb",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "x": 110,
        "y": 140,
        "wires": [
            [
                "55e6f958.f13ce8"
            ]
        ]
    },
    {
        "id": "124a9bbb.88a054",
        "type": "function",
        "z": "874c1089.25ecb",
        "name": "Random #s",
        "func": "if( msg.payload === false ) {\n    return null;\n}\nmsg.payload = Math.round(Math.random()*100);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 430,
        "y": 60,
        "wires": [
            [
                "78905f9b.d7b88"
            ]
        ]
    },
    {
        "id": "722f3af7.9f8a4c",
        "type": "ui_chart",
        "z": "874c1089.25ecb",
        "name": "Chart",
        "group": "e5daedab.ebc278",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Random #",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Querying Entropy",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": "",
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": true,
        "outputs": 2,
        "x": 350,
        "y": 240,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8fa9c19e.3e425",
        "type": "ui_gauge",
        "z": "874c1089.25ecb",
        "name": "Gauge",
        "group": "e5daedab.ebc278",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 350,
        "y": 280,
        "wires": []
    },
    {
        "id": "abb86f92.1df9f8",
        "type": "ui_slider",
        "z": "874c1089.25ecb",
        "name": "",
        "label": "Slider",
        "group": "e5daedab.ebc278",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "topic": "",
        "min": 0,
        "max": "100",
        "step": "",
        "x": 350,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "491fd593.2b0b3c",
        "type": "ui_text",
        "z": "874c1089.25ecb",
        "group": "e5daedab.ebc278",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 350,
        "y": 360,
        "wires": []
    },
    {
        "id": "55e6f958.f13ce8",
        "type": "ui_switch",
        "z": "874c1089.25ecb",
        "name": "",
        "label": "Switch",
        "group": "7c35b7e4.64a6d8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 270,
        "y": 140,
        "wires": [
            [
                "124a9bbb.88a054"
            ]
        ]
    },
    {
        "id": "5db0a22e.ec8fa4",
        "type": "ui_text",
        "z": "874c1089.25ecb",
        "group": "7c35b7e4.64a6d8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 270,
        "y": 60,
        "wires": []
    },
    {
        "id": "1c0abd51.3da0c3",
        "type": "inject",
        "z": "874c1089.25ecb",
        "name": "Instructions",
        "topic": "",
        "payload": "Use the toggle switch to start / stop the generation of random numbers",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 110,
        "y": 60,
        "wires": [
            [
                "5db0a22e.ec8fa4"
            ]
        ]
    },
    {
        "id": "c8b3ec17.047c98",
        "type": "ui_toast",
        "z": "874c1089.25ecb",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 790,
        "y": 400,
        "wires": []
    },
    {
        "id": "e439bf08.4dd8f",
        "type": "switch",
        "z": "874c1089.25ecb",
        "name": "Warn on High Values",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "90",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 400,
        "y": 400,
        "wires": [
            [
                "e136bc29.1ee92"
            ]
        ]
    },
    {
        "id": "e136bc29.1ee92",
        "type": "template",
        "z": "874c1089.25ecb",
        "name": "Alert Msg",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Alert : Critical Value Detected {{payload}}",
        "output": "str",
        "x": 600,
        "y": 400,
        "wires": [
            [
                "c8b3ec17.047c98"
            ]
        ]
    },
    {
        "id": "78905f9b.d7b88",
        "type": "link out",
        "z": "874c1089.25ecb",
        "name": "",
        "links": [
            "918c33d5.c494b8"
        ],
        "x": 555,
        "y": 140,
        "wires": []
    },
    {
        "id": "918c33d5.c494b8",
        "type": "link in",
        "z": "874c1089.25ecb",
        "name": "",
        "links": [
            "78905f9b.d7b88"
        ],
        "x": 95,
        "y": 360,
        "wires": [
            [
                "722f3af7.9f8a4c",
                "8fa9c19e.3e425",
                "abb86f92.1df9f8",
                "491fd593.2b0b3c",
                "e439bf08.4dd8f"
            ]
        ]
    },
    {
        "id": "6ac489fc.c9b67",
        "type": "debug",
        "z": "1b8a4ed6.b6b209",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 410,
        "y": 80,
        "wires": []
    },
    {
        "id": "d45abe9c.def34",
        "type": "change",
        "z": "1b8a4ed6.b6b209",
        "name": "Chart Temperature",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 120,
        "wires": [
            [
                "5df73fea.11493"
            ]
        ]
    },
    {
        "id": "6fabcda7.577e8c",
        "type": "change",
        "z": "1b8a4ed6.b6b209",
        "name": "Chart Humidity",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.d.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 160,
        "wires": [
            [
                "8b71a4f2.76ef88"
            ]
        ]
    },
    {
        "id": "f2aae052.389b98",
        "type": "switch",
        "z": "1b8a4ed6.b6b209",
        "name": "Warn on High Values",
        "property": "payload.d.temp",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "30",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 440,
        "y": 200,
        "wires": [
            [
                "58f1c3c4.06b554"
            ]
        ]
    },
    {
        "id": "58f1c3c4.06b554",
        "type": "template",
        "z": "1b8a4ed6.b6b209",
        "name": "Alert Msg",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Alert : Critical Value Detected {{payload.d.temp}}",
        "output": "str",
        "x": 640,
        "y": 200,
        "wires": [
            [
                "2217d1c5.fc7e86"
            ]
        ]
    },
    {
        "id": "5df73fea.11493",
        "type": "ui_chart",
        "z": "1b8a4ed6.b6b209",
        "name": "",
        "group": "fad07bb4.8b914",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "DHT Temp",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 630,
        "y": 120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8b71a4f2.76ef88",
        "type": "ui_chart",
        "z": "1b8a4ed6.b6b209",
        "name": "",
        "group": "fad07bb4.8b914",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "DHT Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 640,
        "y": 160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2217d1c5.fc7e86",
        "type": "ui_toast",
        "z": "1b8a4ed6.b6b209",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 830,
        "y": 200,
        "wires": []
    },
    {
        "id": "4669f842.19887",
        "type": "ui_chart",
        "z": "70c1e3a2.13a89c",
        "name": "",
        "group": "b4900017.3c0458",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Single Line Plot",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 600,
        "y": 120,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7fc2ba83.ac9764",
        "type": "function",
        "z": "70c1e3a2.13a89c",
        "name": "Fill Single Chart Array",
        "func": "var chart = [{\n    \"series\":[\"A\"],\n    \"data\":[[{\"x\":1504029632890,\"y\":5},\n             {\"x\":1504029633514,\"y\":8},\n             {\"x\":1504029634400,\"y\":3}]],\n    \"labels\":[\"\"]\n}];\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 120,
        "wires": [
            [
                "4669f842.19887",
                "5b465269.d9b074"
            ]
        ]
    },
    {
        "id": "5b465269.d9b074",
        "type": "debug",
        "z": "70c1e3a2.13a89c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 590,
        "y": 160,
        "wires": []
    },
    {
        "id": "487e1d0a.885b3c",
        "type": "comment",
        "z": "70c1e3a2.13a89c",
        "name": "Sample Dashboard that plots various Chart types",
        "info": "",
        "x": 250,
        "y": 60,
        "wires": []
    },
    {
        "id": "1889799b.b9e7fe",
        "type": "ui_chart",
        "z": "70c1e3a2.13a89c",
        "name": "",
        "group": "b4900017.3c0458",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Multiple Line Plots",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 610,
        "y": 220,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "3a39449a.d2d1b4",
        "type": "function",
        "z": "70c1e3a2.13a89c",
        "name": "Fill Multiple Line Chart Array",
        "func": "var chart = [  {\"series\":[\"A\",\"B\",\"C\"],\n                \"data\":[\n                    [{\"x\":1504029632890,\"y\":5},\n                     {\"x\":1504029636001,\"y\":4},\n                     {\"x\":1504029638656,\"y\":2}],\n                    [{\"x\":1504029633514,\"y\":6},\n                     {\"x\":1504029636622,\"y\":7},\n                     {\"x\":1504029639539,\"y\":6}],\n                    [{\"x\":1504029634400,\"y\":7},\n                     {\"x\":1504029637959,\"y\":9},\n                     {\"x\":1504029640317,\"y\":7}]\n                ],\n                \"labels\":[\"\"]}];\nmsg.payload = chart;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 340,
        "y": 220,
        "wires": [
            [
                "1889799b.b9e7fe",
                "5f19abd2.332974"
            ]
        ]
    },
    {
        "id": "5f19abd2.332974",
        "type": "debug",
        "z": "70c1e3a2.13a89c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 590,
        "y": 260,
        "wires": []
    },
    {
        "id": "d8b2187d.c66668",
        "type": "ui_chart",
        "z": "70c1e3a2.13a89c",
        "name": "",
        "group": "997b37a6.c8e72",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Vertical Bar Chart",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 610,
        "y": 540,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9145bef6.8fb7a8",
        "type": "inject",
        "z": "70c1e3a2.13a89c",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "7fc2ba83.ac9764"
            ]
        ]
    },
    {
        "id": "4408bd0a.2dec4c",
        "type": "inject",
        "z": "70c1e3a2.13a89c",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130,
        "y": 220,
        "wires": [
            [
                "3a39449a.d2d1b4"
            ]
        ]
    },
    {
        "id": "245662f7.dfdc5e",
        "type": "inject",
        "z": "70c1e3a2.13a89c",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130,
        "y": 540,
        "wires": [
            [
                "5b27020e.c7ef14"
            ]
        ]
    },
    {
        "id": "5b27020e.c7ef14",
        "type": "function",
        "z": "70c1e3a2.13a89c",
        "name": "Fill Bar Chart Array",
        "func": "var bar={};\nbar.labels = [\"Q1 16\",\"Q2 16\",\"Q3 16\",\"Q4 16\",\"Q1 17\",\"Q2 17\",\"Q3 17\"];\nbar.series = ['Sales A', 'Sales B', 'Sales C', 'Sales D'];\n// An array of 4 arrays of 7 elements\nbar.data = [\n    [65, 59, 80, 81, 56, 55, 40],\n    [28, 48, 40, 19, 86, 27, 90],\n    [38, 28, 20, 49, 45, 60, 20],\n    [58, 18, 40, 29, 15, 30, 60]\n  ];\nreturn {payload:[bar]};",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 540,
        "wires": [
            [
                "d8b2187d.c66668",
                "b4747700.f7799",
                "61b69949.35ab98"
            ]
        ]
    },
    {
        "id": "b4747700.f7799",
        "type": "debug",
        "z": "70c1e3a2.13a89c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 590,
        "y": 620,
        "wires": []
    },
    {
        "id": "61b69949.35ab98",
        "type": "ui_chart",
        "z": "70c1e3a2.13a89c",
        "name": "",
        "group": "997b37a6.c8e72",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "Horizontal Bar Chart",
        "chartType": "horizontalBar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 619.0908813476562,
        "y": 580,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "e327788f.626038",
        "type": "ui_chart",
        "z": "70c1e3a2.13a89c",
        "name": "",
        "group": "8ed24b32.a6fdd8",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Pie Chart",
        "chartType": "pie",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 580,
        "y": 320,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ddad07ea.e06ed8",
        "type": "function",
        "z": "70c1e3a2.13a89c",
        "name": "Fill Pie Chart Array",
        "func": "var pie={};\npie.labels = [\"Geo1\",\"Geo2\",\"Geo3\",\"Geo4\",\"Geo5\"];\npie.series = ['Sales A', 'Sales B', 'Sales C', 'Sales D'];\npie.data =   [ [16, 27, 42, 65, 89] ];\n//return {payload:[pie]};\n\nvar pie={ \"labels\" : [\"Geo1\",\"Geo2\",\"Geo3\",\"Geo4\",\"Geo5\"],\n          \"series\" : ['Sales A', 'Sales B', 'Sales C', 'Sales D'],\n          \"data\"   : [ [16, 27, 42, 65, 89] ]\n        };\nmsg.payload = [pie];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 320,
        "wires": [
            [
                "e327788f.626038",
                "5d316c04.32fbac",
                "a5319928.1377d",
                "2adc0d57.4a413a",
                "556c21ae.c95c8"
            ]
        ]
    },
    {
        "id": "41784a69.7dd054",
        "type": "inject",
        "z": "70c1e3a2.13a89c",
        "name": "",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 130,
        "y": 320,
        "wires": [
            [
                "ddad07ea.e06ed8"
            ]
        ]
    },
    {
        "id": "5d316c04.32fbac",
        "type": "debug",
        "z": "70c1e3a2.13a89c",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 590,
        "y": 480,
        "wires": []
    },
    {
        "id": "a5319928.1377d",
        "type": "ui_chart",
        "z": "70c1e3a2.13a89c",
        "name": "",
        "group": "8ed24b32.a6fdd8",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Polar Area Chart",
        "chartType": "polar-area",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 610,
        "y": 400.9090881347656,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "556c21ae.c95c8",
        "type": "ui_chart",
        "z": "70c1e3a2.13a89c",
        "name": "",
        "group": "8ed24b32.a6fdd8",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Radar Chart",
        "chartType": "radar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 590,
        "y": 440,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "2adc0d57.4a413a",
        "type": "ui_chart",
        "z": "70c1e3a2.13a89c",
        "name": "",
        "group": "8ed24b32.a6fdd8",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Donut Chart",
        "chartType": "pie",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": "40",
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 2,
        "x": 590,
        "y": 360,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "dae25288.0600e8",
        "type": "mqtt in",
        "z": "1b8a4ed6.b6b209",
        "name": "",
        "topic": "iot-2/type/+/id/+/evt/+/fmt/json",
        "qos": "2",
        "datatype": "json",
        "broker": "285b33eb.753ec4",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "6ac489fc.c9b67",
                "d45abe9c.def34",
                "6fabcda7.577e8c",
                "f2aae052.389b98"
            ]
        ]
    }
]