docs/part3/flows/NR-Cloudant-DHTSensorData.json
[{ "id": "27254917.52fca6", "type": "tab", "label": "Store Sensor Data", "disabled": false, "info": "" }, { "id": "fe94e60c.cd55c8", "type": "debug", "z": "27254917.52fca6", "name": "", "active": true, "tosidebar": true, "console": false, "tostatus": false, "complete": "true", "x": 550, "y": 80, "wires": [] }, { "id": "162a9a5a.14ddd6", "type": "cloudant out", "z": "27254917.52fca6", "name": "", "cloudant": "", "database": "historicaldata1", "service": "bi-esp8266Bootcamp-cloudantNoSQLDB", "payonly": true, "operation": "insert", "x": 580, "y": 120, "wires": [] }, {
    "id": "10eedd32.16f10b",
    "type": "mqtt in",
    "z": "27254917.52fca6",
    "name": "",
    "topic": "+/status",
    "qos": "2",
    "datatype": "json",
    "broker": "c903b134.cbb7d8",
    "x": 200,
    "y": 100,
    "wires": [
        ["88c274cf.beb77"]
    ]
}, {
    "id": "88c274cf.beb77",
    "type": "change",
    "z": "27254917.52fca6",
    "name": "",
    "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "{\t  \"time\" : $toMillis($now()),\t  \"tmp\" : payload.d.tmp,\t  \"hmdty\" : payload.d.hmdty\t}", "tot": "jsonata" }],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 380,
    "y": 100,
    "wires": [
        ["fe94e60c.cd55c8", "162a9a5a.14ddd6"]
    ]
}, { "id": "c903b134.cbb7d8", "type": "mqtt-broker", "z": "", "name": "cloudAMQP", "broker": "caterpillar.rmq.cloudamqp.com", "port": "8883", "tls": "bdb1a899.6048d8", "clientid": "", "usetls": true, "compatmode": false, "keepalive": "60", "cleansession": true, "birthTopic": "", "birthQos": "0", "birthRetain": "false", "birthPayload": "", "closeTopic": "", "closeQos": "0", "closeRetain": "false", "closePayload": "", "willTopic": "", "willQos": "0", "willRetain": "false", "willPayload": "" }, { "id": "bdb1a899.6048d8", "type": "tls-config", "z": "", "name": "", "cert": "", "key": "", "ca": "", "certname": "", "keyname": "", "caname": "", "servername": "", "verifyservercert": true }]